name: Pytest

on:
  pull_request: {}
  push:
    branches: [main]

jobs:
  pytest:
    name: pytest
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Python 3.12
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"
          cache: pip

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -e .
          pip install pytest requests

      - name: Test with pytest
        run: |
          pytest erpnext_nextcloud_sso/tests
